.pokedex-search {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 30px;

  &__input {
    position: relative;

    input {
      width: 344px;
      height: 60px;

      padding: 0 0.8rem;
      border-radius: 0.625rem;
      outline: none;

      border: none;
      color: #747476;
      background-color: #e5e5e5;

      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    }

    i {
      position: absolute;
      top: 22px;
      right: 22px;

      color: #747474;

      cursor: pointer;
    }
  }
}
